:root {
    --color-primary: #a7f0ff;
    --color-secondary: #bbf4ff;
    --color-accent: #c8f6ff;
    --color-background1: #ddf9ff;
    --color-background2: #fff;
    --padding: 2rem;
    --skills-logo-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

body {
    background-color: var(--color-background2);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.section {
    padding: calc(2*var(--padding));
}

header {
    background-color: var(--color-primary);
}


#inner-header > h1 {
    font-size: 7rem;
    margin: auto;
}

#inner-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    column-gap: calc(2*var(--padding));
}

img {
    width: var(--skills-logo-size);
}

#profile {
    width: calc(var(--skills-logo-size) * 3);
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(2*var(--padding));
    background-color: var(--color-secondary);
    font-size: 2rem;
    padding: calc(var(--padding));
}

a {
    color: black;
}

main {
    background-color: var(--color-background1);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: calc(2*var(--padding));
}

.main-subsection {
    background-color: var(--color-background2);
}

.main-subsection > h2 {
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
}

.main-subsection > h3 {
    text-align: center;
}

.logos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.logos-container {
    display: inline-block;
}

.logos-container > figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

.container {
    display: flex;
    gap: var(--padding);
    margin: var(--padding) 0 var(--padding) 0;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: calc(var(--padding)/2);
}

.container-logo {
    width: calc(var(--skills-logo-size)*1.5);
    margin: auto;
}


.container-date {
    margin: auto;
    font-weight: bold;
    font-size: 1.25rem;
    min-width: 8rem;
    text-align: center;
}

.container-content {
    padding: var(--padding);
}

#contact {
    width: fit-content;
    margin: auto;
}

footer {
    background-color: var(--color-background2);
    height: fit-content;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .main-subsection {
        padding: var(--padding);
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: calc(2*var(--padding)) 0 calc(2*var(--padding)) 0;
    }

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        gap: calc(var(--padding)/2);
    }

    .container-content {
        padding: 0;
    }
}